--USE [master]
--GO
--/****** Object:  Database [Okul]    Script Date: 23.09.2022 15:49:11 ******/
--CREATE DATABASE [Okul]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Okul', FILENAME = N'C:\Users\ISKUR\Okul.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'Okul_log', FILENAME = N'C:\Users\ISKUR\Okul_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
--GO
--ALTER DATABASE [Okul] SET COMPATIBILITY_LEVEL = 150
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [Okul].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [Okul] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [Okul] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [Okul] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [Okul] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [Okul] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [Okul] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [Okul] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [Okul] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [Okul] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [Okul] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [Okul] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [Okul] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [Okul] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [Okul] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [Okul] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [Okul] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [Okul] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [Okul] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [Okul] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [Okul] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [Okul] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [Okul] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [Okul] SET RECOVERY SIMPLE 
--GO
--ALTER DATABASE [Okul] SET  MULTI_USER 
--GO
--ALTER DATABASE [Okul] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [Okul] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [Okul] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [Okul] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [Okul] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [Okul] SET ACCELERATED_DATABASE_RECOVERY = OFF  
--GO
--ALTER DATABASE [Okul] SET QUERY_STORE = OFF
--GO
--USE [Okul]
--GO
--/****** Object:  Table [dbo].[Branslar]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Branslar](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[BransAdi] [varchar](50) NULL,
-- CONSTRAINT [PK_Branslar] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[DersProgrami]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[DersProgrami](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[OgretmenId] [int] NOT NULL,
--	[SinifId] [int] NOT NULL,
--	[DersSaatId] [int] NOT NULL,
--	[GunId] [int] NOT NULL,
--	[DonemId] [int] NULL,
-- CONSTRAINT [PK_DersProgrami] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[DersSaatleri]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[DersSaatleri](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Saat] [time](7) NULL,
-- CONSTRAINT [PK_DersSaatleri] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Donem]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Donem](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[StartDate] [date] NULL,
--	[StopTime] [date] NULL,
--	[Description] [varchar](50) NULL,
-- CONSTRAINT [PK_Donem] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Gunler]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Gunler](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Gun] [varchar](10) NULL,
-- CONSTRAINT [PK_Gunler] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Karne]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Karne](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[DonemId] [int] NULL,
--	[OgrenciId] [int] NULL,
--	[SinavSonucId] [int] NULL,
-- CONSTRAINT [PK_Karne] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Ogrenciler](
--	[Id] [int] IDENTITY(1000,1) NOT NULL,
--	[Ad] [varchar](50) NULL,
--	[Soyad] [varchar](50) NULL,
--	[Tcno] [varchar](11) NULL,
--	[Cinsiyet] [bit] NULL,
--	[SinifId] [int] NOT NULL,
--	[Email] [varchar](50) NULL,
--	[DonemId] [int] NULL,
-- CONSTRAINT [PK_Ogrenciler] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Ogretmenler](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [varchar](50) NULL,
--	[Soyad] [varchar](50) NULL,
--	[Tcno] [varchar](11) NULL,
--	[Gsm] [varchar](50) NULL,
--	[Email] [varchar](50) NULL,
--	[BransId] [int] NOT NULL,
--	[Cinsiyet] [bit] NULL,
--	[KayitTarihi] [datetime] NULL,
--	[GuncellemeTarihi] [datetime] NULL,
--	[DonemId] [int] NULL,
-- CONSTRAINT [PK_Ogretmenler] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[SinavSonuclari]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[SinavSonuclari](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[OgrenciId] [int] NULL,
--	[SinavId] [int] NULL,
--	[Girdimi] [bit] NULL,
--	[SinavSonucu] [tinyint] NULL,
-- CONSTRAINT [PK_SinavSonuclari] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[SinavTakvimi]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[SinavTakvimi](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[DonemID] [int] NULL,
--	[OgretmenId] [int] NULL,
--	[SinifId] [int] NULL,
--	[Tarih] [datetime] NULL,
-- CONSTRAINT [PK_SinavTakvimi] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Siniflar]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Siniflar](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[SinifAdi] [varchar](50) NULL,
--	[Kapasite] [tinyint] NULL,
-- CONSTRAINT [PK_Siniflar] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Veliler]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Veliler](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [varchar](50) NULL,
--	[Soyad] [varchar](50) NULL,
--	[TcNo] [varchar](11) NULL,
--	[Gsm] [varchar](20) NULL,
--	[Cinsiyet] [bit] NULL,
--	[DonemId] [int] NULL,
-- CONSTRAINT [PK_Veliler] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[VeliOgrenci]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[VeliOgrenci](
--	[OgrenciId] [int] NOT NULL,
--	[VeliId] [int] NOT NULL,
-- CONSTRAINT [PK_VeliOgrenci] PRIMARY KEY CLUSTERED 
--(
--	[OgrenciId] ASC,
--	[VeliId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Yoklamalar]    Script Date: 23.09.2022 15:49:11 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Yoklamalar](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[OgrenciId] [int] NOT NULL,
--	[DersProgramId] [int] NOT NULL,
--	[Yoklama] [bit] NOT NULL,
--	[Tarih] [date] NOT NULL,
--	[DonemId] [int] NULL,
--	[KayitTarihi] [datetime] NULL,
-- CONSTRAINT [PK_Yoklamalar] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--SET IDENTITY_INSERT [dbo].[Branslar] ON 
--GO
--INSERT [dbo].[Branslar] ([Id], [BransAdi]) VALUES (5, N'Cografya')
--GO
--INSERT [dbo].[Branslar] ([Id], [BransAdi]) VALUES (4, N'Edebiyat')
--GO
--INSERT [dbo].[Branslar] ([Id], [BransAdi]) VALUES (2, N'Fizik')
--GO
--INSERT [dbo].[Branslar] ([Id], [BransAdi]) VALUES (3, N'Kimya')
--GO
--INSERT [dbo].[Branslar] ([Id], [BransAdi]) VALUES (1, N'Matematik')
--GO
--SET IDENTITY_INSERT [dbo].[Branslar] OFF
--GO
--SET IDENTITY_INSERT [dbo].[DersProgrami] ON 
--GO
--INSERT [dbo].[DersProgrami] ([Id], [OgretmenId], [SinifId], [DersSaatId], [GunId], [DonemId]) VALUES (1, 2, 1, 1, 1, NULL)
--GO
--SET IDENTITY_INSERT [dbo].[DersProgrami] OFF
--GO
--SET IDENTITY_INSERT [dbo].[DersSaatleri] ON 
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (1, CAST(N'09:00:00' AS Time))
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (2, CAST(N'10:00:00' AS Time))
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (3, CAST(N'11:00:00' AS Time))
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (4, CAST(N'13:00:00' AS Time))
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (5, CAST(N'14:00:00' AS Time))
--GO
--INSERT [dbo].[DersSaatleri] ([Id], [Saat]) VALUES (6, CAST(N'15:00:00' AS Time))
--GO
--SET IDENTITY_INSERT [dbo].[DersSaatleri] OFF
--GO
--SET IDENTITY_INSERT [dbo].[Donem] ON 
--GO
--INSERT [dbo].[Donem] ([Id], [StartDate], [StopTime], [Description]) VALUES (1, CAST(N'2021-09-15' AS Date), CAST(N'2021-02-15' AS Date), N'2021-1.Donem')
--GO
--INSERT [dbo].[Donem] ([Id], [StartDate], [StopTime], [Description]) VALUES (2, CAST(N'2021-02-20' AS Date), CAST(N'2021-06-15' AS Date), N'2021-2.Donem')
--GO
--SET IDENTITY_INSERT [dbo].[Donem] OFF
--GO
--SET IDENTITY_INSERT [dbo].[Gunler] ON 
--GO
--INSERT [dbo].[Gunler] ([Id], [Gun]) VALUES (1, N'Pazartesi')
--GO
--INSERT [dbo].[Gunler] ([Id], [Gun]) VALUES (2, N'Sali')
--GO
--INSERT [dbo].[Gunler] ([Id], [Gun]) VALUES (3, N'Carsamba')
--GO
--INSERT [dbo].[Gunler] ([Id], [Gun]) VALUES (4, N'Persembe')
--GO
--INSERT [dbo].[Gunler] ([Id], [Gun]) VALUES (5, N'Cuma')
--GO
--SET IDENTITY_INSERT [dbo].[Gunler] OFF
--GO
--SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 
--GO
--INSERT [dbo].[Ogrenciler] ([Id], [Ad], [Soyad], [Tcno], [Cinsiyet], [SinifId], [Email], [DonemId]) VALUES (1000, N'Ali', N'Yilmaz', N'98765432101', 0, 1, NULL, NULL)
--GO
--INSERT [dbo].[Ogrenciler] ([Id], [Ad], [Soyad], [Tcno], [Cinsiyet], [SinifId], [Email], [DonemId]) VALUES (1001, N'Hasan', N'Demir', N'98765432101', 0, 1, NULL, NULL)
--GO
--INSERT [dbo].[Ogrenciler] ([Id], [Ad], [Soyad], [Tcno], [Cinsiyet], [SinifId], [Email], [DonemId]) VALUES (1002, N'Gamze', N'Guzel', N'98765432101', 1, 1, NULL, NULL)
--GO
--SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
--GO
--SET IDENTITY_INSERT [dbo].[Ogretmenler] ON 
--GO
--INSERT [dbo].[Ogretmenler] ([Id], [Ad], [Soyad], [Tcno], [Gsm], [Email], [BransId], [Cinsiyet], [KayitTarihi], [GuncellemeTarihi], [DonemId]) VALUES (2, N'Ayse', N'Yilmaz', N'12345678901', NULL, NULL, 1, 1, CAST(N'2022-09-22T16:24:31.803' AS DateTime), NULL, NULL)
--GO
--INSERT [dbo].[Ogretmenler] ([Id], [Ad], [Soyad], [Tcno], [Gsm], [Email], [BransId], [Cinsiyet], [KayitTarihi], [GuncellemeTarihi], [DonemId]) VALUES (3, N'Cemal', N'Kaya', N'12345678901', NULL, NULL, 2, 0, CAST(N'2022-09-22T16:24:52.227' AS DateTime), NULL, NULL)
--GO
--INSERT [dbo].[Ogretmenler] ([Id], [Ad], [Soyad], [Tcno], [Gsm], [Email], [BransId], [Cinsiyet], [KayitTarihi], [GuncellemeTarihi], [DonemId]) VALUES (4, N'Ahmet', N'Yorulmaz', N'12345678901', NULL, NULL, 3, 0, CAST(N'2022-09-22T16:25:08.900' AS DateTime), NULL, NULL)
--GO
--INSERT [dbo].[Ogretmenler] ([Id], [Ad], [Soyad], [Tcno], [Gsm], [Email], [BransId], [Cinsiyet], [KayitTarihi], [GuncellemeTarihi], [DonemId]) VALUES (5, N'Fatma', N'Cicek', N'12345678901', NULL, NULL, 4, 1, CAST(N'2022-09-22T16:25:25.337' AS DateTime), NULL, NULL)
--GO
--SET IDENTITY_INSERT [dbo].[Ogretmenler] OFF
--GO
--SET IDENTITY_INSERT [dbo].[Siniflar] ON 
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (1, N'11A', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (2, N'11B', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (3, N'11C', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (4, N'12A', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (5, N'12B', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (6, N'12C', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (7, N'13A', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (8, N'13B', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (9, N'13C', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (10, N'14A', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (11, N'14B', 30)
--GO
--INSERT [dbo].[Siniflar] ([Id], [SinifAdi], [Kapasite]) VALUES (12, N'14C', 30)
--GO
--SET IDENTITY_INSERT [dbo].[Siniflar] OFF
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Branslar]    Script Date: 23.09.2022 15:49:11 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Branslar] ON [dbo].[Branslar]
--(
--	[BransAdi] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_DersProgrami]    Script Date: 23.09.2022 15:49:11 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_DersProgrami] ON [dbo].[DersProgrami]
--(
--	[GunId] ASC,
--	[DersSaatId] ASC,
--	[SinifId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_OgretmenIcinKisitlama]    Script Date: 23.09.2022 15:49:11 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_OgretmenIcinKisitlama] ON [dbo].[DersProgrami]
--(
--	[OgretmenId] ASC,
--	[GunId] ASC,
--	[DersSaatId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_SinavSonuclari]    Script Date: 23.09.2022 15:49:11 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_SinavSonuclari] ON [dbo].[SinavSonuclari]
--(
--	[OgrenciId] ASC,
--	[SinavId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--ALTER TABLE [dbo].[Ogretmenler] ADD  CONSTRAINT [DF_Ogretmenler_KayitTarihi]  DEFAULT (getdate()) FOR [KayitTarihi]
--GO
--ALTER TABLE [dbo].[SinavSonuclari] ADD  CONSTRAINT [DF_SinavSonuclari_Girdimi]  DEFAULT ((0)) FOR [Girdimi]
--GO
--ALTER TABLE [dbo].[Yoklamalar] ADD  CONSTRAINT [DF_Yoklamalar_KayitTarihi]  DEFAULT (getdate()) FOR [KayitTarihi]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_DersSaatleri] FOREIGN KEY([DersSaatId])
--REFERENCES [dbo].[DersSaatleri] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_DersSaatleri]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_Donem] FOREIGN KEY([DonemId])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_Donem]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_Gunler] FOREIGN KEY([GunId])
--REFERENCES [dbo].[Gunler] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_Gunler]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_Ogretmenler] FOREIGN KEY([OgretmenId])
--REFERENCES [dbo].[Ogretmenler] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_Ogretmenler]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_Ogretmenler1] FOREIGN KEY([OgretmenId])
--REFERENCES [dbo].[Ogretmenler] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_Ogretmenler1]
--GO
--ALTER TABLE [dbo].[DersProgrami]  WITH CHECK ADD  CONSTRAINT [FK_DersProgrami_Siniflar] FOREIGN KEY([SinifId])
--REFERENCES [dbo].[Siniflar] ([Id])
--GO
--ALTER TABLE [dbo].[DersProgrami] CHECK CONSTRAINT [FK_DersProgrami_Siniflar]
--GO
--ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenciler_Donem] FOREIGN KEY([DonemId])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK_Ogrenciler_Donem]
--GO
--ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenciler_Siniflar] FOREIGN KEY([SinifId])
--REFERENCES [dbo].[Siniflar] ([Id])
--GO
--ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK_Ogrenciler_Siniflar]
--GO
--ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Ogretmenler_Branslar] FOREIGN KEY([BransId])
--REFERENCES [dbo].[Branslar] ([Id])
--GO
--ALTER TABLE [dbo].[Ogretmenler] CHECK CONSTRAINT [FK_Ogretmenler_Branslar]
--GO
--ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Ogretmenler_Donem] FOREIGN KEY([DonemId])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[Ogretmenler] CHECK CONSTRAINT [FK_Ogretmenler_Donem]
--GO
--ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSonuclari_Ogrenciler] FOREIGN KEY([OgrenciId])
--REFERENCES [dbo].[Ogrenciler] ([Id])
--GO
--ALTER TABLE [dbo].[SinavSonuclari] CHECK CONSTRAINT [FK_SinavSonuclari_Ogrenciler]
--GO
--ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSonuclari_SinavTakvimi] FOREIGN KEY([SinavId])
--REFERENCES [dbo].[SinavTakvimi] ([Id])
--GO
--ALTER TABLE [dbo].[SinavSonuclari] CHECK CONSTRAINT [FK_SinavSonuclari_SinavTakvimi]
--GO
--ALTER TABLE [dbo].[SinavTakvimi]  WITH CHECK ADD  CONSTRAINT [FK_SinavTakvimi_Donem] FOREIGN KEY([DonemID])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[SinavTakvimi] CHECK CONSTRAINT [FK_SinavTakvimi_Donem]
--GO
--ALTER TABLE [dbo].[SinavTakvimi]  WITH CHECK ADD  CONSTRAINT [FK_SinavTakvimi_Ogretmenler] FOREIGN KEY([OgretmenId])
--REFERENCES [dbo].[Ogretmenler] ([Id])
--GO
--ALTER TABLE [dbo].[SinavTakvimi] CHECK CONSTRAINT [FK_SinavTakvimi_Ogretmenler]
--GO
--ALTER TABLE [dbo].[SinavTakvimi]  WITH CHECK ADD  CONSTRAINT [FK_SinavTakvimi_Siniflar] FOREIGN KEY([SinifId])
--REFERENCES [dbo].[Siniflar] ([Id])
--GO
--ALTER TABLE [dbo].[SinavTakvimi] CHECK CONSTRAINT [FK_SinavTakvimi_Siniflar]
--GO
--ALTER TABLE [dbo].[Veliler]  WITH CHECK ADD  CONSTRAINT [FK_Veliler_Donem] FOREIGN KEY([DonemId])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[Veliler] CHECK CONSTRAINT [FK_Veliler_Donem]
--GO
--ALTER TABLE [dbo].[VeliOgrenci]  WITH CHECK ADD  CONSTRAINT [FK_VeliOgrenci_Ogrenciler] FOREIGN KEY([OgrenciId])
--REFERENCES [dbo].[Ogrenciler] ([Id])
--GO
--ALTER TABLE [dbo].[VeliOgrenci] CHECK CONSTRAINT [FK_VeliOgrenci_Ogrenciler]
--GO
--ALTER TABLE [dbo].[VeliOgrenci]  WITH CHECK ADD  CONSTRAINT [FK_VeliOgrenci_Veliler] FOREIGN KEY([VeliId])
--REFERENCES [dbo].[Veliler] ([Id])
--GO
--ALTER TABLE [dbo].[VeliOgrenci] CHECK CONSTRAINT [FK_VeliOgrenci_Veliler]
--GO
--ALTER TABLE [dbo].[Yoklamalar]  WITH CHECK ADD  CONSTRAINT [FK_Yoklamalar_DersProgrami] FOREIGN KEY([DersProgramId])
--REFERENCES [dbo].[DersProgrami] ([Id])
--GO
--ALTER TABLE [dbo].[Yoklamalar] CHECK CONSTRAINT [FK_Yoklamalar_DersProgrami]
--GO
--ALTER TABLE [dbo].[Yoklamalar]  WITH CHECK ADD  CONSTRAINT [FK_Yoklamalar_Donem] FOREIGN KEY([DonemId])
--REFERENCES [dbo].[Donem] ([Id])
--GO
--ALTER TABLE [dbo].[Yoklamalar] CHECK CONSTRAINT [FK_Yoklamalar_Donem]
--GO
--ALTER TABLE [dbo].[Yoklamalar]  WITH CHECK ADD  CONSTRAINT [FK_Yoklamalar_Ogrenciler] FOREIGN KEY([OgrenciId])
--REFERENCES [dbo].[Ogrenciler] ([Id])
--GO
--ALTER TABLE [dbo].[Yoklamalar] CHECK CONSTRAINT [FK_Yoklamalar_Ogrenciler]
--GO
--USE [master]
--GO
--ALTER DATABASE [Okul] SET  READ_WRITE 
--GO
